// Navbar
.navbar {
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.nav-link {
color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 151.5%; /* 27.27px */
}
// Banner
#Banner {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  .banner-right {
    height: 100vh;
    h1 {
      font-size: 70px !important;
      font-weight: 700;
      line-height: 160%; /* 147px */
      background: linear-gradient(90deg, #776ada 44.1%, #1c1a1a 54%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      color: #000;
      font-family: Outfit;
      font-size: 24px;
      font-weight: 500;
    }
    .pi {
      .pra {
        color: #000;
        font-family: Outfit;
        font-size: 24px;
        font-weight: 300;
      }
      .fa {
        background-color: #776ada;
        padding: 5px 5px;
        border-radius: 20px;
        color: #fff;
      }
    }
    .primary-btn {
      background-color: $Primary-color;
      border-radius: 50px;
      color: #fff;
      font-family: Outfit;
      font-size: 22px;
      font-weight: 700;
    }
  }
  .banner-left {
    img {
      width: 686.452px;
      height: 600px;
      flex-shrink: 0;
    }
  }
}

// Responsive
@media (max-width: 992px) {
  #Banner {
    .banner-right {
      position: absolute;
      top: 20%;
      bottom: 20%;
      transform: translateY(-40%, -40%);
      h1 {
        font-size: 60px !important;
        font-weight: 700;
        line-height: 160%; /* 147px */
      }
      p {
        font-size: 20px !important;
      }
    }
    .banner-left {
      img {
        display: none;
      }
    }
  }
}
// Work
#Work {
  background-color: $bg-color;
}
// Testimonial
#Testimonial {
  .testimonial-left {
    p {
      span {
        color: #f97b15;
      }
    }
  }
}
// faq
#Faq {
  .faq-content {
    .mr {
      margin-right: 500px;
      width: 100%;
    }
    .faq {
      max-width: 800px;
      margin-top: 2rem;
      padding-bottom: 1rem;
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid #d0d0d0;
      background: #fff;
      padding: 5px 10px;
      .question {
        h3 {
          color: #000;
          font-family: Outfit;
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
  }
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease;
  p {
    padding-top: 1rem;
    text-align: left;
  }
}

.faq.active .answer {
  max-height: 300px;
}
@media (min-width: 376px) {
  #Faq_sec {
    margin-top: 0px !important;
  }
}

// plans
#plans {
  background-color: $bg-color;
  .plans-content {
    width: 281px;
    height: 438px;
    border-top: 1px solid #776ada;
    border-right: 1px solid #776ada;
    border-bottom: 11px solid #776ada;
    border-left: 1px solid #776ada;
    background: #fff;
    box-shadow: 0px 14px 24px 0px rgba(119, 106, 218, 0.35);
    h5 {
      color: #000;
      font-family: Inter;
      font-size: 27px;
      font-weight: 700;
    }
    ul {
      li {
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
      }
    }
    .primary-btn {
      width: 234px;
      height: 56px;
      flex-shrink: 0;
      background-color: $Primary-color;
      border-radius: 60px;
      background: #776ada;
    }
    p {
      color: #000;
      font-family: Inter;
      font-size: 13px;
      font-weight: 300;
      line-height: 21px; /* 161.538% */
    }
  }
}
@media (max-width: 992px) {
  .plans-content {
    width: 100% !important;
    overflow: hidden !important;
  }
}
// footer
#Footer {
  height: 60vh;
  .content_div {
    width: 1147px;
    height: 250px;
    background: #776ada;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #776ada;
    filter: blur(0.5px);
    p {
      color: #fff;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 131.5%; /* 55.23px */
    }
    a {
      background: #4c419f;
      width: 274px;
      height: 56px;
      color: #fff;
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .copright {
    p {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 151.5%; /* 30.3px */
    }
  }
}
@media (max-width: 992px) {
  #Footer {
    .content_div {
      width: 700px !important;
      height: 250px;
      border-radius: 30px;
      background: #776ada;
      margin-left: 20px;
      margin-top: 30px;
      p {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
      }
      a {
        width: 200px;
        height: 56px;
        color: #fff;
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 992px) {
  #Footer {
    .content_div {
      width: 800px !important;
      height: 250px;
      border-radius: 30px;
      background: #776ada;
      margin-left: -35px !important;
      margin-top: 30px !important;
      p {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
      }
      a {
        width: 200px;
        height: 56px;
        color: #fff;
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 576px) {
  #Footer {
    .content_div {
      width: 470px !important;
      height: 250px;
      border-radius: 30px;
      background: #776ada;
      margin-left: 0px !important;
      margin-top: 30px !important;
    }
  }
}
@media (max-width: 320px) {
  #Footer {
    .content_div {
      width: 300px !important;
      height: 250px;
      border-radius: 30px;
      background: #776ada;
      margin-left: 0px !important;
      margin-top: 30px !important;
    }
  }
}
